html {
  scroll-behavior: smooth;
}

body, #services, #works, #about, #latest_news, #testimonials, #contact {
  color: #161616;
}

.visually-hidden {
  display: none;
}

.card-category, .section-tagline {
  color: #D73953;
}

